*.a
*.in
*.o
*~
.*.swp
.deps
.DS_Store
Makefile

/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/confdefs.h
/config.guess
/config.log
/config.status
/config.sub
/configure
/conftest*
/depcomp
/install-sh
/missing
