/*.alias
/*.sed
/alloca.h
/assert.h
/configmake.h
/ctype.h
/errno.h
/fnmatch.h
/getopt-cdefs.h
/getopt.h
/inttypes..h
/limits.h
/locale.h
/stdbool.h
/stdckdint.h
/stddef.h
/stdint.h
/stdlib.h
/stdnoreturn.h
/string.h
/sys
/sysexits.h
/unistd.h
/unistd.h
/wchar.h
/wctype.h
